<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwKDGd_6_D4tkIftIoW59L7e9OUMVIL0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1055813156398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.farms-fiap</string>
	<key>PROJECT_ID</key>
	<string>farms-fiap</string>
	<key>STORAGE_BUCKET</key>
	<string>farms-fiap.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055813156398:ios:1027c63e1993f6a1abe9bf</string>
</dict>
</plist>